<!DOCTYPE html>
<html>
  <head>
    <title>Attendance Records</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Student Attendance</h1>

    <ul id="studentList"></ul>

    <div class="main-content">
      <div id="webcam-container">
        <video id="webcamVideo" width="480" height="auto" autoplay></video>
        <canvas
          id="webcamCanvas"
          style="display: none"
          height="150px"
          width="300px"
        ></canvas>
        <p id="beacon-status"></p>
      </div>

      <div id="verification-controls">
        <label for="studentIdInput">Enter Your Student ID:</label>
        <input
          type="text"
          id="studentIdInput"
          placeholder="Enter Your Student ID"
        />
        <button id="scanFaceButton">Scan Face</button>
        <p id="verificationStatus"></p>
      </div>

      <div id="live-attendance-logs">
        <h2>Live Attendance Log</h2>
        <div id="live-attendance-logs-content"></div>
      </div>
    </div>

    <table id="attendanceTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
